asgiref @ file:///tmp/build/80754af9/asgiref_1602513567813/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
blis @ file:///D:/bld/cython-blis_1648021085930/work
Bottleneck @ file:///C:/ci/bottleneck_1648029103672/work
brotlipy @ file:///D:/bld/brotlipy_1648854320485/work
cachelib==0.6.0
catalogue @ file:///D:/bld/catalogue_1638867510751/work
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1636046293990/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click @ file:///D:/bld/click_1645238350348/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///D:/bld/cryptography_1649035416420/work
cymem @ file:///D:/bld/cymem_1636053422146/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
Django @ file:///tmp/build/80754af9/django_1601563330930/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1646621171513/work
email-validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1623593316902/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1648714429286/work
Flask-Login==0.5.0
Flask-Session==0.4.0
Flask-SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/flask-sqlalchemy_1616102249273/work
Flask-WTF @ file:///home/conda/feedstock_root/build_artifacts/flask-wtf_1648793304782/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1648728505175/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1648299710939/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
MarkupSafe @ file:///D:/bld/markupsafe_1648737751065/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
murmurhash @ file:///D:/bld/murmurhash_1636019767292/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1640748215808/work
numexpr @ file:///C:/ci/numexpr_1640704408721/work
numpy @ file:///C:/ci_310/numpy_and_numpy_base_1643798589088/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///C:/ci/pandas_1647955046463/work
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1635227809952/work
preshed @ file:///D:/bld/preshed_1636077851980/work
psycopg2 @ file:///C:/ci/psycopg2_1594305172475/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///D:/bld/pydantic_1636021198197/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
PySocks @ file:///D:/bld/pysocks_1648857453381/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2020.1
regex @ file:///C:/ci/regex_1648447923622/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
scikit-learn @ file:///C:/ci/scikit-learn_1598377018496/work
scipy @ file:///C:/ci/scipy_1641555198988/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1612179560728/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
soupsieve==2.0.1
spacy @ file:///D:/bld/spacy_1648712477875/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1645713043381/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1648794027183/work
SQLAlchemy @ file:///C:/ci/sqlalchemy_1598374833867/work
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
srsly @ file:///D:/bld/srsly_1638879736505/work
textcleaner==0.4.26
thinc @ file:///D:/bld/thinc_1647363151339/work
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1648670016295/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1644850595256/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1648654410720/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1648771891747/work
wincertstore==0.2
WTForms @ file:///home/conda/feedstock_root/build_artifacts/wtforms_1640306863281/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
