{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}


{% block content %}
<!-- <div class="position-relative overflow-hidden p-3 p-md-20 m-md-3 text-center bg-dark" style="color:white">
    <div class="col-md-5 p-lg- mx-auto my-5">
        <h1 class="display-4 font-weight-normal">{{ item.headline }}</h1>
        <br>
        <p class="lead font-weight-normal">{{ item.content }}</p>
    </div>
</div> -->
    <br>
    <h1 class = "text-center">{{ item.headline }}</h1>
    <br>
    {% for para in item.content.split('\n') %}
        <p class = "pl-5 pr-5 pt-1">{{ para }}</p>
    {% endfor %}
    <br>
    <div class = "container">
        <div class = "row text-left">
        <div class="checkbox ab-3 text-left col">
            <a class ="btn btn-sm btn-dark" href="{{ item.url }}">Go to article source</a>
        </div>
    
        <i id="like" class="fas fa-thumbs-up btn btn-circle btn-primary btn-light mx-2 col-md-auto" onclick="like()"></i>
        <i id="neutral" class="fas fa-ellipsis-h btn btn-circle btn-primary btn-light mx-2 col-md-auto" onclick="neutral()"></i> 
        <i id="dislike" class="fas fa-thumbs-down btn btn-circle btn-primary btn-light mx-2 col-md-auto" onclick="dislike()"></i>
    </div>
    </div>

    <div class="border-top my-3"></div>
    <h5 class = "text-left pl-4">If you liked this article, you might also like:</h5>
    <ul >
        {% for article in similar_articles %}
        <li> <a class = "link-light" href = {{ "/articles/" + article.article_id|string }} >{{ article.headline }}</a></li>
        {% endfor %}
    </ul>   
    <div class="border-top my-3"></div>
    {% if recommended_articles[0] != None %}
    <h5 class = "text-left pl-4">Check out these articles, selected just for you:</h5>
    <ul >
        {% for article in recommended_articles %}
        <li> <a class = "link-light" href = {{ "/articles/" + article.article_id|string }} >{{ article.headline }}</a></li>
        {% endfor %}
    </ul>   
    <div class="border-top my-3"></div>
    {% endif %}
{% endblock %}
