{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}


{% block content %}

    <div class="position-relative overflow-hidden p-3 p-md-4 m-md-3 text-center bg-dark" style="color:white">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-6 font-weight-normal"> Alligator's Den</h1>
            <br>
            <img class="mb-4 rounded" src="https://i.pinimg.com/236x/c4/69/0f/c4690fd6159e1a17b428a8b13e160e22.jpg">
            <h1 class="display-5 font-weight-normal">News Recommender System</h1>
            <p class="lead font-weight-normal">The only news app you'll ever need!</p>
            <a class="btn btn-primary" href="articles/pg/1">Get Started</a>
        </div>
    </div>
{% endblock %}