{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}


{% block content %}
    {% if pg <= (items|length // 10) and pg >= 1%}
        <br>
        <h1 class="h3 mb-3 font-weight-normal text-center">
            News Feed
        </h1>
        <br>
            {% for item in items[((pg-1)*10):(pg*10)] %}
                    <div class="card bg-dark my-2 mx-4 border-white">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">{{ item.headline }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category: {{ item.category.capitalize() }}, Published on: {{ item.date }}</h6>
                            <p class="card-text">{{ item.summary }}</p>
                            <a class ="btn btn-sm btn-secondary text-center" href="../{{ item.article_id }}">Read More</a>
                        </div>
                        </div>
            {% endfor %}
        <br>
        {% if pg == 1 %}
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="{{ 1 }}" tabindex="-1"><<</a>
                </li>
                <li class="page-item disabled"><a class="page-link" href="{{ pg - 1 }}">{{ pg - 1 }}</a></li>
                <li class="page-item active">
                    <a class="page-link" href="{{ pg }}">{{ pg }}<span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="{{ pg + 1 }}">{{ pg + 1 }}</a></li>
                <li class="page-item">
                    <a class="page-link" href="{{ (items|length) // 10 }}">>></a>
                </li>
                </ul>
            </nav>
        {% elif pg == (items|length) // 10 %}
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="{{ 1 }}" tabindex="-1"><<</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{ pg - 1 }}">{{ pg - 1 }}</a></li>
                <li class="page-item active">
                    <a class="page-link" href="{{ pg }}">{{ pg }}<span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item disabled"><a class="page-link" href="{{ pg + 1 }}">{{ pg + 1 }}</a></li>
                <li class="page-item">
                    <a class="page-link" href="{{ (items|length) // 10 }}">>></a>
                </li>
                </ul>
            </nav>
        {% else %}
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="{{ 1 }}" tabindex="-1"><<</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{ pg - 1 }}">{{ pg - 1 }}</a></li>
                <li class="page-item active">
                    <a class="page-link" href="{{ pg }}">{{ pg }}<span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="{{ pg + 1 }}">{{ pg + 1 }}</a></li>
                <li class="page-item">
                    <a class="page-link" href="{{ (items|length) // 10 }}">>></a>
                </li>
                </ul>
            </nav>
        {% endif %}

    {% else %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="lead font-weight-normal"> Oops! This page doesn't exist.</h1>
            <br>
            <a class="btn btn-primary" href="/home">Go back to the den?</a>
        </div>
    </div>
    {% endif %}
    
{% endblock %}