{% extends 'base.html' %}

{% block title %}
 Login Page
{% endblock %}


{% block content %}

<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" styles="color:white">
            {{ form.hidden_tag() }}
            <br>
            <img class="mb-4 rounded" src="https://i.pinimg.com/236x/c4/69/0f/c4690fd6159e1a17b428a8b13e160e22.jpg">
            <h1 class="h3 mb-3 font-weight-normal">
                Log in to your account!
            </h1>
            <br>
            

            <div class="row justify-content-md-center">
                <div class="col-md-2 text-left">
                    {{ form.username.label() }}
                </div>
                <div class="col-md-auto">
                    {{ form.username(class="form-control", placeholder="Username") }}
                </div>
            </div>
            <br>
            <div class="row justify-content-md-center">
                <div class="col-md-2 text-left">
                    {{ form.password.label() }}
                </div>
                <div class="col-md-auto">
                    {{ form.password(class="form-control", placeholder="Password") }}
                </div>
            </div>

            <br><br>
            {{ form.submit(class="btn btn-lg btn-primary") }}
            <br>

            <div class="checkbox ab-3 text-right">
                <h6> Do not have an account?</h6>
                <a class ="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

        </form>

    </div>

</body>

{% endblock %}