{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}


{% block content %}
<!-- <div class="position-relative overflow-hidden p-3 p-md-20 m-md-3 text-center bg-dark" style="color:white">
    <div class="col-md-5 p-lg- mx-auto my-5">
        <h1 class="display-4 font-weight-normal">{{ item.headline }}</h1>
        <br>
        <p class="lead font-weight-normal">{{ item.content }}</p>
    </div>
</div> -->

    <br>
    <h1 class = "text-center">{{ item.headline }}</h1>

    <p class = "p-5">{{ item.content }}</p>
    <div class="checkbox ab-3 text-center">
        <a class ="btn btn-sm btn-secondary" href="{{ item.url }}">Go to article source</a>
    </div>
    <!-- <div class="border-top my-3"></div> -->
    <!-- <h5 class = "text-left pl-5">Recommended articles</h5> -->
{% endblock %}