{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}


{% block content %}
<!-- <div class="position-relative overflow-hidden p-3 p-md-20 m-md-3 text-center bg-dark" style="color:white">
    <div class="col-md-5 p-lg- mx-auto my-5">
        <h1 class="display-4 font-weight-normal">{{ item.headline }}</h1>
        <br>
        <p class="lead font-weight-normal">{{ item.content }}</p>
    </div>
</div> -->

    <h1>{{ item.headline }}</h1>
    <br>
    <p>{{ item.content }}</p>
{% endblock %}